[include]
    path = ~/.gitconfig.aliases
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
[user]
	email = jack.z@canva.com
	name = Jack Zezula
	signingkey = 756CCBC50C10AF88
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[protocol]
	version = 2
[core]
	excludesFile = ~/.gitignore
[maintenance]
	repo = /Users/jackzezula/work/canva
